@import "normalize.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: Arial, sans-serif;
  background-color: #ffffff;
}

.main {
  width: 100%;
}

.main-container {
  max-width: 1064px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 32px;
  padding-left: 32px;
}

.h1 {
  margin: 28px 0;
  font-size: 32px;
  line-height: 36px;
}
